# Editor configs
.idea
.DS_Store

# VSCode configs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Envs
envs/.env
.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
out
out/*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

tmp

vendor/

